// text formation
@font-face {
    font-family: "HelveticaHigh";
    src: local("HelveticaHigh"),
     url("./fonts/HelveticaHigh/HelveticaHigh.ttf") format("truetype");
    font-weight: bold;
    }

  
    @font-face {
        font-family: "HelveticaLow";
        src: local("HelveticaLow"),
         url("./fonts/HelveticaLow/HelveticaLow.ttf") format("truetype");
        font-weight: lighter;
        }




::-webkit-scrollbar {
  width: 10px;
}
  ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  ::-webkit-scrollbar-thumb {
  background: #213f7d; 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #213f7d; 
} 
input:-webkit-autofill {transition: background-color 5000s ease-in-out 0s;}
select:-webkit-autofill {transition: background-color 5000s ease-in-out 0s;}


::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #213f7d;
}

::selection {
  color: #fff;
  background: #213f7d;
}

select{
/* background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%; */
background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=) no-repeat 95% 50%;
-moz-appearance: none; 
-webkit-appearance: none; 
appearance: none;
}


// kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk           language
.languageStructure{
    font-family: 'Rubik', sans-serif;
}
.coporateLanguage{
    font-family: 'Archivo', sans-serif;
}


// kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk             Navigation
.NavigationSignup{
    margin-right: 30%;
    font-size: 1vw;
    margin-top: 1.5vw;
    margin-bottom: 5vw;
}


// kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk             Icon

.iconImage {
    width: 35%;
}

.iconTitle {
    width: 24.5%;
    padding-left: 1.5%;
    padding-top: 1.5%;
    margin-right: auto;
}

.iconCase {
    // list-style: none;


    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-left: 14%;
    // margin-top: 10%;
    // margin-bottom: 15%;
    height: 100%;
}

.iconSeparate {
    display: inline-block;
}

// kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk          Header

.headerButton{
    padding: 1.8rem 2.5rem;
    background-color: #213f7d;
    border-radius:25px;
    font-size: 1.1vw;
}
.iconSeparate {
    display: inline-block;
    padding: 0 1.5vw;
}
.headerLink{
    font-size: 1.1vw;
}



// kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk          Login

.loginTitleCase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-bottom: -4%;
}


.loginImageCase{
    width: 50%;
    // height: 100vh;
    background-color: #efeff1;
    // border-right: 3px  #545F7D;
}



.loginInput{
        flex: 1 1 auto;
        font-weight: 400;
        /* height: calc(1.5em + 1rem + 2px); */
        padding: 0.8rem 1rem;
        margin-bottom: 3%;
        margin-top: -2%;
        /* font-size: 1.25rem; */
        line-height: 1.5;
        color: #000;
        background-color: #fff;
        border: 2px solid rgba(84, 95, 125, 0.15);
        border-radius: 5px;
        /* border-radius: .3rem 0 0 .3rem; */
        outline: 0;
        width: 70%;
        font-family: 'Archivo', sans-serif;
}

.forgotPassword{
    color: #213f7d;
    font-size: 1vw;
    margin-top: -0.5vw;
    margin-bottom: -1vw;
    margin-right: auto;
    font-weight: 600;
}
.loginInput:hover{
    border-color: #213f7d;

    .visibleClass{
        border-color: #213f7d;
        border: 2px solid #213f7d
    }
}
.visibleClass{
    margin-top: -0.7vw;
     margin-bottom: 1vw;
}
    .visibleClass:hover{
    border-color: #213f7d;

.loginInput{
        border-color: #213f7d;
        border: 2px solid #213f7d
    }
}

.loginInput:hover ~ .visibleClass {     border-color: #213f7d;}
.visibleClass:hover ~ .loginInput {     border-color: #213f7d;}

// #one:hover ~ #three { background-color: yellow; }

.loginDescription{
    font-family: 'Rubik', sans-serif;
    font-size: 1.2vw;
    color: #545F7D;
    font-weight: 400;  
    margin-bottom: 5%; 
}


.LoginCase{
    // font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.loginTittle{
    font-family: 'Rubik', sans-serif;
font-size: 3vw;
margin-bottom: -0.5vw;
font-weight: 700;
margin-bottom: 1.5vw;
}

.passwordTogether{
        /* display: -webkit-flex; */
        /* -webkit-flex-wrap: wrap; */
        display: flex;
        /* flex-wrap: wrap; */
        margin-bottom: 1rem;
         margin-right: 20%;
        //  margin-left: 20%; 
      
}
.loginEye{
    width : 1.5vw;
}


// kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk                       LoginButton
.loginButton{
    padding: 1.2rem 2rem;
    // margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 8px;
    color: #fff;
    width: 76%;
    font-size: 1vw;
    cursor: pointer;
    font-weight: 700;
    margin-top: 6%;
    font-family: 'Archivo', sans-serif;
}

.loadingButton{
    padding: 1rem 2rem;
    // margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 8px;
    color: #fff;
    width: 76%;
    font-size: 1vw;
    cursor: pointer;
    font-weight: 700;
    margin-top: 6%;
    font-family: 'Archivo', sans-serif;
}

.loginDetails{
    margin-top: -54%;
    padding-top: 10%;
    padding-left: 8%;
    margin-left:50%; 
    // height: 100vh;
    // box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    }
    
    
    
    .loginImage{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 75%;
        padding: 15% 1%;
        -webkit-animation: action 1s infinite  alternate;
        animation: action 1s infinite  alternate;
    }

// kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk                          SignupButton
.SignupButton{
    padding: 1.2rem 2rem;
    // margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 8px;
    color: #fff;
    width: 76%;
    font-size: 1vw;
    cursor: pointer;
    font-weight: 700;
    margin-top: 6%;
    font-family: 'Archivo', sans-serif;
}





// kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk         Signup
.signupImageCase{
    width: 50%;
    // height: 100vh;
    background-color: #ebe9ea;
    // border-right: 3px  #545F7D;
}
.signupDetails{
    margin-top: -62%;
    padding-top: 10%;
    padding-left: 8%;
    margin-left:50%; 
    // height: 100vh;
    // box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    }

// kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk                   Check Box

    [type="checkbox"] {
        opacity: 0;
        position: absolute;
        cursor: pointer;
    }
    
    .custom-checkbox {
        min-width: 0.75em;
        min-height: 0.75em;
        cursor: pointer;
        margin-right: 0.75em;
        border: 2px solid currentColor;
        border-radius: 50%;
        display: inline-block;
    }
    
    [type="checkbox"]:checked+label .custom-checkbox {
        border-color: #000;
        cursor: pointer;
        background: #000;
        box-shadow: inset 0 0 0 2px white;
    }


// kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk                 Password Eye color

.visibleClass{
    border-color: #e6e7ec;
    border: 2px solid #e6e7ec
}


// kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk                 Animation

.LogingWaving{
    width: 3vw;
    margin-right: auto;
    margin-left: 3%;
    margin-top: 3%;
    transform: rotateZ(100deg);
    animation: three 0.6s infinite;
    animation-direction: alternate;
}


@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@keyframes three {
    0% {
      transform: rotateZ(50deg);
    }
    100% {
      transform: rotateZ(-30deg);
    }
  }



// kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk                   Media Query

 @media only screen and (max-width: 2100px){
    .headerButton{
        padding: 0.8rem 1.5rem;
        border-radius: 10px;
        font-size: 1.1vw;
    }   
}


@media only screen and (max-width: 850px){

.loginImageCase{
   display: none;
}
.loginDetails{
    margin-top: 0;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    margin-left:0%; 
    // height: 100vh;
    // box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    }

    .loginInput{
        flex: 1 1 auto;
        font-weight: 400;
        /* height: calc(1.5em + 1rem + 2px); */
        padding: 0.8rem 1rem;
        margin-bottom: 3%;
        margin-top: -2%;
        /* font-size: 1.25rem; */
        line-height: 1.5;
        color: #000;
        background-color: #fff;
        border: 2px solid rgba(84, 95, 125, 0.15);
        border-radius: 5px;
        /* border-radius: .3rem 0 0 .3rem; */
        outline: 0;
        width: 95%;
        font-family: 'Archivo', sans-serif;
}    
.passwordTogether{
    /* display: -webkit-flex; */
    /* -webkit-flex-wrap: wrap; */
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 1rem;
     margin-right: -5%;
    //  margin-left: 20%; 
  
}
.loginEye{
    width :2.3vw;
}
.visibleClass{
    margin-top: -1.4vw;
     margin-bottom: 2.2vw;
}

.headerButton{
    padding: 0.8rem 1.5rem;
    background-color: #213f7d;
    border-radius:12px;
    font-size: 1.7vw;
}
.iconSeparate {
    display: inline-block;
    padding: 0;
    padding-left: 4.5vw;
}
.headerLink{
    font-size: 1.7vw;
}
.loginButton{
    padding: 1.3rem 2rem;
    // margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 8px;
    color: #fff;
    width: 103%;
    font-size: 2vw;
    cursor: pointer;
    font-weight: 700;
    margin-top: 6%;
    font-family: 'Archivo', sans-serif;
}
.loginTittle{
    font-family: 'Rubik', sans-serif;
font-size: 5.5vw;
}
.LogingWaving{
    width: 5.5vw;
}
.loginDescription{
 font-size: 2vw;
 margin-bottom: 6%;
}
.loginTitleCase{
    margin-bottom: -3%;

}
.NavigationSignup{
    margin-right: 0;
    font-size: 1.8vw;
}
.forgotPassword{
    font-size: 1.5vw;
}
}



@media only screen and (max-width: 650px){

    .iconImage{
        width: 39%;
    }
    
        .loginInput{
            flex: 1 1 auto;
            font-weight: 400;
            /* height: calc(1.5em + 1rem + 2px); */
            padding: 0.8rem 1rem;
            margin-bottom: 3%;
            margin-top: -2%;
            /* font-size: 1.25rem; */
            line-height: 1.5;
            color: #000;
            background-color: #fff;
            border: 2px solid rgba(84, 95, 125, 0.15);
            border-radius: 5px;
            /* border-radius: .3rem 0 0 .3rem; */
            outline: 0;
            width: 95%;
            font-family: 'Archivo', sans-serif;
    }    
    .passwordTogether{
        /* display: -webkit-flex; */
        /* -webkit-flex-wrap: wrap; */
        display: flex;
        /* flex-wrap: wrap; */
        margin-bottom: 1rem;
         margin-right: -5%;
        //  margin-left: 20%; 
      
    }
    .loginEye{
        width : 3vw;
    }
    .visibleClass{
        margin-top: -1.4vw;
         margin-bottom: 2.1vw;
    }
    
    .headerButton{
        padding: 0.8rem 1.5rem;
        background-color: #213f7d;
        border-radius:12px;
        font-size: 2.2vw;
    }
    .iconSeparate {
        display: inline-block;
        padding: 0;
        padding-left: 4.5vw;
    }
    .headerLink{
        font-size: 2.2vw;
    }
    .loginTittle{
        font-family: 'Rubik', sans-serif;
    font-size: 5.5vw;
    }
    .LogingWaving{
        width: 5.5vw;
    }
    .loginDescription{
     font-size: 2.5vw;
     margin-bottom: 6%;
    }
    .loginTitleCase{
        margin-bottom: -3%;
    
    }
    .NavigationSignup{
        margin-right: 0;
        font-size: 2.5vw;
    }
    .forgotPassword{
        font-size: 1.8vw;
    }
    .loginButton{
        width: 106%;
        margin-bottom: 3.5vw;
    }
    }
    @media only screen and (max-width: 550px){
        .visibleClass{
            margin-top: -1.5vw;
             margin-bottom: 2.2vw;
        }
        .loginButton{
            width: 106%;
            padding: 1rem 2rem;
            font-size: 3vw;
        }
        .forgotPassword{
            font-size: 2.3vw;
        }
    
    }


    @media only screen and (max-width: 500px){
        .loginEye{
            width : 4vw;
        }
        .visibleClass{
            margin-right: -0.5vw;
            margin-bottom: 2vw;
        }
        .iconImage{
            width: 41%;
        }

   
    }

        @media only screen and (max-width: 490px){  
 .loginDetails{
        margin-top: 0;
        padding-top: 2%;
        padding-left: 6%;
        padding-right: 11%; 
 }
 .loginButton{
    width: 106%;
    padding: 1.2rem 2rem;
    font-size: 4vw;
}
.visibleClass{
    margin-top: -1.8vw;
     margin-bottom: 2.8vw;
}
        
    }


    @media only screen and (max-width: 400px){  
    .loginTittle{
        font-family: 'Rubik', sans-serif;
    font-size: 7.5vw;
    }
    .LogingWaving{
        width: 7.5vw;
    }
    .loginDescription{
     font-size: 3.5vw;
     margin-bottom: 6%;
    }
    .NavigationSignup{
        font-size: 3vw;
    }
    .forgotPassword{
        font-size: 3vw;
    }
    .loginEye{
        width : 5vw;
    }
    
    .visibleClass{
        // margin-top: -1.4vw;
         margin-bottom: 2.4vw;
    }
}



